.edit-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    color: #2c2c2c;
    flex-direction: column;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
    background-color: #000000;
    border: 3px solid #000000;
  }
  
  .sudoku-row {
    display: contents;
  }
  
  .sudoku-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
  }
  
  .sudoku-cell.selected {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  
  .control-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .control-button, .confirm-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .control-button svg, .confirm-button svg {
    margin-right: 5px;
  }
  
  .number-pad {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
  }
  
  .number-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .confirm-button {
    margin-top: 20px;
    width: 100%;
  }
  